* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    --purple-color: #c084fc;
    --grey-color: #020617;
    font-family: 'Roboto', sans-serif;
    /* --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333; */
}

/* webdev */

/* .todo-list {
    --spacer: 2rem;
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);
  }
  
  .todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-title {
    margin: 0 1em 0 0;
  }
  
  .task-count {
    margin: 0;
    font-size: 1rem;
  }
  
  .todo-body {
    padding: var(--spacer);
    position: relative;
  }
  
  .new-task-creator .create {
    color: var(--clr-primary);
  }
  
  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .task label {
    display: flex-inline;
    align-items: center;
    position: relative;
  }
  
  .task {
    position: relative;
    margin-bottom: 1.25em;
  }
  
  .task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
  }
  
  .custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  
  .task:hover .custom-checkbox,
  [type="checkbox"]:focus + label .custom-checkbox {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: var(--clr-primary);
  }
  
  [type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
  }
  
  [type="checkbox"]:checked + label {
    opacity: 0.5;
  }
  
  .task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  [type="checkbox"]:checked + label::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  } */

/* webdev */

#container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-rows: auto 1fr;
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#header {
    background-color: var(--purple-color);
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
}

#sidebar {
    background-color: var(--grey-color);
    padding: 10px;
    padding-top: 15px;
}

ul { 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul > li {
    list-style-type: none;
    color: white;
    font-size: 25px;
}

li > button {
    background-color: var(--grey-color);
    height: 60px;
    width: 250px;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: grey;
}

button > svg {
    fill: white;
    height: 50px;
    width: 50px;
}

.projects-text {
    margin-top: 70px;
    margin-left: 10px;
}

.two {
    display: flex;
    gap: 120px;
    align-items: center;
}

#add-project {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-color);
}

#add-project:hover {
    background-color: grey;
}

#add-project > svg {
    height: 30px;
    width: 30px;
}

hr {
    background: white;
    height: 5px;
    margin-bottom: 15px;
}

dialog[open] { 
    height: 250px;
    width: 400px;
    margin: auto;
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
}

dialog[open] form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

dialog[open] [id="project-name"] {
    height: 30px;
    padding: 5px;
    width: 290px;
}

dialog[open] #sub-btn {
    background-color: green;
    color: white;
    height: 30px;
    width: 290px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #166534;
}


dialog[open] #cancel-btn {
    background-color: red;
    color: white;
    height: 30px;
    width: 290px;
    border-radius: 3px;
    padding: 5px;
}

[data-lists] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

[data-lists] > li {
    list-style-type: none;
    color: white;
    font-size: 20px;
}

.list-name {
    position: relative;
    display: flex;
    align-items: center;
}

.list-name > span {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    right: 0;
}

.active-list {
    background-color: grey;
    border-radius: 3px;
}

#display { 
    padding: 40px;
}